h1 {
  font-family: verdana;
  font-size: medium;
  color: steelblue;
}

#main-map {
  height:300px;
  width:800px;
}

#line-chart {
  height:500px;
  width:1000px;
}

#world-line-chart {
  height:500px;
  width:1000px;
}