h1 {
  font-family: verdana;
  font-size: medium;
  color: steelblue;
}

h2 {
  font-family: arial;
  font-size: smaller;
  color: slategrey;
}

#main-map {
  height:300px;
  width:500px;
}

#line-chart {
  height:500px;
  width:500px;
}